body{
	background: white;
	font-family: Helvetica, sans-serif;
}

ul{
	background-color: rgb(146, 175, 190);
	font-family: Helvetica, sans-serif;
	list-style-type: none;
	border-radius: 3px;
  	margin: 0;
  	overflow: hidden;
}

li a{
	float: right;
	margin-right: 50px;
  	color: white;
	font-weight: bold;
  	padding: 14px 16px;
  	text-decoration: none;
}

.lButt:hover{
  	background-color: white;
	color: rgb(146, 175, 190);
	
}

.lButt{
	margin-top: 18px;
	margin-right: 100px;
	font-size: 25px;
}

.icon{
	float: left;
	padding-left: 30px;
	margin: 15px;
	font-size: 30px;
}

#area{
	background-color: rgb(146, 175, 190);
	font-family: Helvetica, sans-serif;
	color: white;
	width: fit-content;
	margin-left: 50px;
	padding-right: 30px;
	margin-top: 25px;
	padding-bottom: 25px;
	border-radius: 3px;
}

.uibricktop{
	font-size: 18px;
	padding-top: 25px;
	padding-right: 25px;
	margin-left: 50px;
}

.uibrick{
	font-size: 18px;
	margin-left: 50px;
}

#butt{
	background-color: rgb(119, 149, 164);
	color: white;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	margin-left: 50px;
	margin-right: 25px;
	padding: 15px;

}

#butt:hover{
  	background-color: white;
	color: rgb(119, 149, 164);
}

#buttb{
	background-color: rgb(119, 149, 164);
	color: white;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	padding: 15px;
}

#buttb:hover{
  	background-color: white;
	color: rgb(119, 149, 164);
}

#arro{
	background-color: rgb(119, 149, 164);
	color: white;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	padding: 15px;
}

#box{
	background-color: rgb(146, 175, 190);
	font-family: Helvetica, sans-serif;
	font-size: 30px;
	color: white;
	margin-left: 50px;
	margin-top: 25px;
	border-radius: 3px;
	display: inline-block;
	float: left;
}

#contlayer{
	display: inline-block;
	margin-left: 25px;
	margin-top: 25px;
	width: 75%;
	height: 900px;
	margin-bottom: 50px;
}

#framebp{
	display: inline-block;
	margin-left: -2px;
	margin-top: -2px;
	margin-bottom: 50px;
	image-rendering: -moz-crisp-edges;
  	image-rendering: -webkit-crisp-edges;
  	image-rendering: pixelated;
  	image-rendering: crisp-edges;
	
}

.footer{
	background-color: rgb(146, 175, 190);
	text-align: center;
	font-family: Helvetica, sans-serif;
	color: white;
	left: 0;
	bottom: 0;
	border-radius: 3px;
	padding: 12px;
} 
